name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Generate App Bundle
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: run: chmod +x gradlew
    - name: Bundle 'release' with Gradle
      run: ./gradlew bundleRelease
    - name: Sign AAB
      id: sign_aab
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/bundle/release
        signingKeyBase64: MTIzMTIz
        alias: key0
    - run: echo "Build status report=${{ job.status }}."
    - name: Upload App Bundle
      uses: actions/upload-artifact@v1
      with:
        name: aab
        path: ${{steps.sign_aab.outputs.signedReleaseFile}}
